<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Basic Variable Calling -->
    Hello <%= text %> 
    <!-- locals will never be undefined -->
    Hello <%= locals.text || 'Default' %>
</body>
</html>